<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.ac.kpu.ce2019152012.hair_you">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <meta-data
        android:name="com.google.ar.core"
        android:value="required" />


    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hair_you_NoActionbar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".AR.SceneviewActivity"
            android:exported="false" />
        <activity
            android:name=".AR.ArMainActivity"
            android:exported="false" />
        <activity
            android:name=".reservation.Reser3"
            android:exported="false" />
        <activity
            android:name=".reservation.Reser2"
            android:exported="false" />
        <activity
            android:name=".reservation.Reser1"
            android:exported="false" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/KAKAO_API_KEY" />

        <activity
            android:name=".JoinSelectActivity"
            android:exported="true" />
        <activity
            android:name=".designer.DesignerMainActivity"
            android:exported="true" />
        <activity
            android:name=".designer.ReservationManagementActivity"
            android:exported="true" />
        <activity
            android:name=".user.CustomerContainerActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".JoinDesignerActivity"
            android:exported="true" />
        <activity
            android:name=".JoinCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Splash_Activity"
            android:exported="true"
            android:theme="@style/Theme.Hair_you_NoActionbar" /> <!-- Redirect URI 설정하기 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao7d73ad51a6a4a5808b30eb48286e214c" />
            </intent-filter>
        </activity>
    </application>

</manifest>